.registerMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/background.png");
  .registerDetails {
    width: 50%;
    padding: 50px;
    height: 70%;
    background-color: #ffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    p {
      font-size: 14px;
      color: gray;
      font-weight: 400;
    }
    h4 {
      font-size: 220px;
      font-weight: 700;
      color: #38383d;
      text-transform: capitalize;
    }
    .inputFieldContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      //   justify-content: space-between;
      flex-wrap: wrap;
      .singleField {
        width: 100%;
        margin-bottom: 20px;
        h6 {
          color: #8f979c;
          font-size: 13px;
        }
        Input {
          // height: 40px;
          padding: 10px 16px;
          border-radius: 5px;
          background-color: #f2f5fa;
          border: 1px solid #f2f5fa;
        }
        TextArea {
          border-radius: 5px;
          background-color: #f2f5fa;
          border: 1px solid #f2f5fa;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .registerMain {
    .registerDetails {
      width: 90%;
      height: 90%;
      padding: 20px;
    }
  }
}
