@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  color: #161c2d;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}

.title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: gray;
  text-transform: capitalize;
}
